<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">El Papeleo</h1>
    <div class="hero">
        <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">
                5029 Preston Highway
                Louisville, KY 40213
                USA.
            </h4>
            <div class="login-app-icons">
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
            </div>
        </div>
        
    </div>
</div>
