<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">El Papeleo</h1>
    <div class="hero">
        <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">
                5029 Preston Highway
                Louisville, KY 40213
                USA.
            </h4>
            <div class="login-app-icons">
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
            </div>
        </div>
        <img src="~/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:150px">
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
            <h5 class="about-heading">WE DO IT YOUR WAY !</h5>
            <p>
                Interpretation services for all occasions & industries, if you are holding a bilingual  conference or  event, then you will like need foreign language interpretation service to help you break through language barriers. We've helped hundreds of meeting planners ,event coordinators ,and individual fulfill their multilingual needs.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h5 class="about-heading">Business Hours</h5>
            <p>
                Mon:	11:00 AM – 5:00 PM<br />
                Tue:	11:00 AM – 5:00 PM<br />
                Wed:	11:00 AM – 5:00 PM<br />
                Thu:	11:00 AM – 5:00 PM<br />
                Fri:	11:00 AM – 5:00 PM<br />
                <span style="color: red">Sat:	Closed</span><br />
                <span style="color: red">Sun:	Closed<br /></span>
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h5 class="about-heading">Contact</h5>
            <p>
                (502) 439-7923<br />
                (502) 969-2022
            </p>
        </div>
    </div>

</div>
